* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}

:root {
    --bg-color:#282C33;
    --text-primary: #ABB2BF;
    --text-seconday: #C778DD;
    --white: #fff;

}


.container {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
}

.relative {
    position: relative;
}

.d-block {
    display: block;
}
.d-inline {
    display: inline;
}
.d-inline-block {
    display: inline-block;
}

/* flex */
.d-flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.align-self-end {
    align-self: flex-end;
}



/* colors */
.c-primary {
    color: var(--text-primary);
}
.c-secondary {
    color: var(--text-seconday);
}

.active-link {
    font-weight: bold;
    color: var(--white) !important;
}

.my-border {
    border: 1px solid var(--text-primary);
}

.my-btn {
    background-color: transparent;
    color: var(--white);
    padding: 8px 16px;
    cursor: pointer;
    transition-duration: .3s;
    &:hover {
        transform: scale(1.1);
    }
}

.cube {
    width: 16px;
    height: 16px;
    background-color: var(--text-seconday);
    margin-right: 10px;
}

.square {
    position: absolute;
    top: 672px;
    right: -9px;
    width: 91px;
    height: 91px;
}
.square-large {
    position: absolute;
    top: 1160px;
    right: -87px;
    width: 155px;
    height: 155px;
}

.dots-global {
    position: absolute;
    top: 816px;
    left: 9px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 11px;
    width: 67px;
    height: 67px;
    & .dot {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: var(--text-primary);
    }
}




/* .fira-code-<uniquifier> {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body {
    font-family: "Fira Code", monospace;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

.floating-social-links {
    position: fixed;
    top: 0;
    left: 17px;
    & .vertical-line {
        width: 1px;
        height: 191px;
        background-color: var(--text-primary);
        margin-inline: auto;
    }
    & .social-icons {
        margin-top: 8px;
        gap: 8px;
        & a {

            & img {

            }
        }
    }
}

header {
    padding-block: 32px 8px;
    & .logo {
        gap: 8px;
        & .logo-illustration {

        }
        & .author-name {
            color: var(--white);
            font-weight: bold;
        }
    }
    & .navigation {
        & .nav-wrapper {
            gap: 32px;
            & a {
                color: var(--text-primary);
                display: inline-block;
                transition-duration: .3s;
                &:hover {
                    transform: scale(1.1);
                }
                & span {
                    &:first-child {
                        color: var(--text-seconday);
                    }
                    &:last-child {
                    }
                }   
            }
        }
    }
}




section.hero {
    margin-top: 60px;
    & .text-content {
        color: var(--white);
        margin-right: 18px;
        & h1 {
            margin-bottom: 32px;
        }

        & p {
            margin-bottom: 24px;
        }
    }
    & .img-content {
        position: relative;
        & .logo {
            position: absolute;
            top: 84px;
            left: -12px;
            z-index: -1;
        }
        & img {

        }
        & .working-status {
            position: absolute;
            right: 50%;
            bottom: -33px;
            transform: translateX(50%);
            z-index: 10;
            width: 400px;
            padding: 8px;
            & .project-name {
                color: var(--white);
            }
        }
        & .dots {
            position: absolute;
            right: 16px;
            bottom: 56px;
            z-index: 10;
        }
    }
    & .developer-slogan {
        --padding: 16px;
        max-width: 714px;
        margin-inline: auto;
        margin-top: 112px;
        color: var(--white);
        & .slogan {
            padding: calc(var(--padding) * 2);
            font-weight: 500;
            font-size: 24px;
        }
        & .slogan-author {
            padding: var(--padding);
            border-top: none;
        }
        & .quotes-start {
            position: absolute;
            left: 16px;
            top: 0;
            transform: translateY(-50%);
            z-index: 1;
            & svg {
                & rect {
                    fill: var(--bg-color);
                }
            }
        }
        & .quotes-end {
            position: absolute;
            right: 16px;
            bottom: 0;
            transform: translateY(50%);
            z-index: 1;
            & svg {
                & rect {
                    fill: var(--bg-color);
                }
            }
        }
    }
}